.about-us{
    margin-top: 50px;
    text-align: center;
    background-color: #967E76;
}

.about-us p {
    font-size: 30px;
    padding: 100px;
}


.about-us nav {
    padding: 40px;
    gap: 10px;
}


.about-us nav a {
    text-align: center;
    font-size: 30px;
    color: blue;
    text-decoration: underline;
}

.about-team  {
    font-size: 25px;
} 


.about-goal  {
   font-size: 25px;
} 
 
